@charset "UTF-8";
/* CSS Document */

.mList{
	width: 100vw;
	font-size: medium;
}

.menu{
	font-size: large;
}

html{
	overflow:visible;
}

p{
	font-size: medium;
	padding-right: 7em;
	padding-top: 4em;
	padding-bottom:5em;
}

#blog{
	height:100vh;
	width:100vw;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}

#sheet{
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

#content{
	margin: 0;
	padding: 2em;
}