@charset "UTF-8";
/* CSS Document */

.mList{
	width: 100vw;
	font-size: medium;
}

.menu{
	font-size: large;
}

html{
	overflow:visible;
}

p{
	font-size: medium;
	height: 100vh;
	padding-right: 7em;
	padding-top: 4em;
	overflow:visible;
}

#blog{
	height:100vh;
	width:100vw;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}