@charset "UTF-8";
/* CSS Document */

.mList{
	width: 100vw;
	font-size: medium;
}

.menu{
	font-size: large;
}

html{
	overflow:hidden;
}

body{
	font-size: medium;
}

p{
	font-size: medium;
	-webkit-overflow-scrolling: touch;
}
#blog{
	height:100%;
	width:100%;
}
#blogWrapper {
	position: fixed; 
	right: 0; 
	bottom: 0; 
	left: 0;
	top: 0;
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}