@charset "UTF-8";
/* CSS Document */
html{
	padding: 0px;
	background: rgba(230,230,230,1.00);
	text-align: center;
	height:100vh;
	width: 100vw;
	min-width:260px;
}
body{
	padding: 0px;
	margin:0px;
	min-width:260px;
	max-width: 100vw;
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 500;
	height:100vh;
	width: 100vw;
	overflow-y: visible;
	overflow-x: hidden;
	top:0;
	bottom:0;
	position:absolute;
}
.menu{
	z-index:1;
	font-size: 1.3em;
	padding:0.1em;
	text-align: end;
	bottom: 0;
	right: 0.5em;
	background: rgba(230,230,230,1.00);
	position:fixed;
}
li{
	list-style-type:none;
}
p{
	margin: auto;
	padding: 1em;
	text-align:left;
	min-width:240px;
}
.mList{
	position: fixed;
	margin: 0px;
	left:0;
	right:0;
	padding:0.5em;
	z-index: 1;
	background: rgba(230,230,230,1.00);
}
.innerMenu{
	display:inline;
}
#blog{
	height:100vh;
	width:100vw;
	overflow:hidden;
}
.centerCenterP, .centerP{
	padding: 1em 1em 2em 1em;
	max-width: 500px;
	margin: 0 auto;
}
.centerP{
	margin: 8vw auto;
}
.centerCenterP{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
div.containerCenter {
  height: 100%;
  width:  100%;
}
